/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 426px) {
  #Contact {
    height: 200px;
    h2 {
      display: flex;
      text-align: center;
      text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.562);
      justify-content: center;
      margin-top: 30px;
      background-color: hsl(36, 97%, 39%);
    }
  }

  .bloc_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0px;
    background-color: hsl(36, 97%, 39%);

    height: 200px;
  }

  .list_label {
    display: flex;
    list-style: none;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    //margin-left: 10px;//
    font-size: 18px;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.562);
    font-weight: bold;
  }
}
